<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Movie</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>MemberController</display-name>
		<servlet-name>MemberController</servlet-name>
		<servlet-class>movie.web.controller.MemberController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberController</servlet-name>
		<url-pattern>/member</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>BoardController</display-name>
		<servlet-name>BoardController</servlet-name>
		<servlet-class>movie.web.controller.BoardConroller</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardController</servlet-name>
		<url-pattern>/board</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MovieController</display-name>
		<servlet-name>MovieController</servlet-name>
		<servlet-class>movie.web.controller.MovieController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MovieController</servlet-name>
		<url-pattern>/movie</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ReviewController</display-name>
		<servlet-name>ReviewController</servlet-name>
		<servlet-class>movie.web.controller.ReviewController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReviewController</servlet-name>
		<url-pattern>/review/*</url-pattern>
	</servlet-mapping>

	<filter>
		<display-name>EncodingFilter</display-name>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>movie.web.filter.EncodingFilter</filter-class>
		<init-param>
			<description></description>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<servlet-name>BoardController</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<servlet-name>MemberController</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<servlet-name>MovieController</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<servlet-name>ReviewController</servlet-name>
	</filter-mapping>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<resource-ref>
		<res-ref-name>jdbc/movieDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
</web-app>
