@charset "utf-8";

* {
	font-family: 굴림, gulim, tahoma, sans-serif;
	font-size: 12px;
}

a:link {
	text-decoration: none;
	color: #000000;
}

a:visited {
	text-decoration: none;
	color: #000000;
}

a:hover, a:active {
	text-decoration: underline;
	color: #cc6600;
}

#reg_ok{
	width: 200px;
}