@charset "utf-8";

* {
	font-family: 굴림, gulim, tahoma, sans-serif;
	font-size: 12px;
}

page {
	width: 800px;
}

#boardtitle {
	font-size: 20px;
	text-align: left;
	text-decoration: none;
}

.buttonbar {
	text-align: center;
	float: right;
}

.maintable {
	margin-top: 15px;
	margin-bottom: 8px;
}

#week {
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	width: 780px;
	height: 260px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.maintable {
	caption-side: top;
	border-collapse: collapse;
}

.maintable>caption {
	font-weight: bold;
	margin-bottom: 10px;
}

.maintable th, .maintable td {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 2px;
	height: 21px;
}

.maintable th {
	background-color: #FFF;
}

#listtable {
	width: 770px;
}

#listtable .num {
	width: 45px;
	text-align: center;
}

#listtable .title {
	width: 350px;
}

#listtable .writer {
	width: 84px;
	text-align: center;
}

#listtable .regdate {
	width: 90px;
	text-align: center;
}

#listtable .readcount {
	width: 55px;
	text-align: center;
}

#writetable {
	width: 770px;
}

#writetable th {
	text-align: left;
}

#writetable .titleinput, #updatetable .titleinput, #replytable .titleinput
	{
	width: 681px;
}

#writetable .writerinput, #updatetable .writerinput, #replytable .writerinput
	{
	width: 200px;
}

#writetable .contentsinput, #updatetable .contentsinput, #replytable .contentsinput
	{
	width: 770px;
	height: 250px;
}

#writetable th, #updatetable th, #replytable th {
	width: 89px;
}

#readtable th {
	width: 75px;
}

#readtable td.title {
	font-weight: bold;
	padding-left: 10px;
}

#readtable td.writer {
	width: 127px;
	text-align: center;
}

#readtable td.readcount {
	width: 90px;
	text-align: center;
}

#readtable td.regdate {
	width: 127px;
	text-align: center;
}

#readtable td.contents {
	width: 770px;
	height: 250px;
	padding: 20px;
	line-height: 1.5em;
	vertical-align: top;
}

#weekMovie {
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	width: 780px;
	height: 260px;
	margin-top: 10px;
	margin-bottom: 20px;
}

#poster {
	padding-right: 50px;
	padding-left: 50px;
}

#reviewtable {
	width: 780px;
	margin-bottom: 10px;
	text-align: left;
}

#reviewtable th.title{
	width: 75px;
}
#reviewtable td.title{
	width: 100px;
}

#oneline{
	text-align: left;
}
#reviewwrite {
	width: 780px;
	border-top: 1px solid #000;
}

.remove{
	float: right;
}
